/* .table{
    width: 70%;
    margin: auto;
    /* border: 2px rgb(129, 122, 122) solid; */
/* } */
.btn{
    margin: 5px;
}
.align-center{
    text-align: center;
}
.modal-backdrop {
    width: 141vw !important;
    height: 141vh !important;
}